.layout {
    display: grid;
    grid-template-columns: 1200px 1fr 2fr 150px;
    grid-template-rows: 60px 1fr;
    grid-template-areas: 
        "aside header header header"
        "aside list content options"
    ;
    height: 100dvh;
}