.layout {
  display: flex;
  height: 100%;
  width: 100%;
}

.layout main {
  display: flex;
  flex-direction: column;
  width: 100%;
  height: 100%;
  flex-grow: 1;
}

.layout main section {
  flex-grow: 1;
  overflow: auto;
  height: 100%;
}

.layout .layout-grid {
  display: grid;
  grid-template-columns: 1fr 3fr 1fr;
}

.relative {
  position: relative;
}